table {
  background-color: aqua;
  border: 10px outset gray;
  border-spacing: 5px;
  text-align: center;
}
table tr th {
  background-color: white;
  padding: 2px 5px 2px 5px;
}
table tr td {
  background-color: white;
  padding: 2px 5px 2px 5px;
}
a {
  color: black;
}
a:hover {
  background-color: aqua;
}
a:visited {
  color: gray;
}
h1 {
  text-shadow: 2px 2px aqua;
}
