<h1><%=@user.username%>'s Makeup Bag</h1>
<br>
<a href="/items/add">Add an item to your bag</a>
<br><br>

<%if @user.items.empty?%>
	<p>Your bag is empty.</p>
	<% else %>
		<table border="10" style="background-color: aqua;">
			 <tr><th style="background-color: white">NAME</th><th style="background-color: white">TYPE</th><th style="background-color: white">COLOR</th></tr>
			 <%@user.items.each do |item|%>
					<tr> <td style="background-color: white"><%=item.name%></td>
					<td style="background-color: white"><%=item.type_of_item if item.type_of_item != nil%></td>
					<td style="background-color: white"><%=item.color%></td> </tr>
			 <%end%>
		</table>
<%end%>
<br>
<a href="/logout">Logout</a>
