<h1>Join Makeup Bag!</h1>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password" style="-webkit-text-security: disc"></p>
  <input type="submit" value="Sign Up">
</form>
<br>
<a href="/">Back</a>
