<h1>Add an item to your bag</h1>
<br>
<a href="/bag">Back to Bag</a>
<br><br>
<form action="/items" method="POST">
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" name="item[name]"></td>
		</tr>
		<tr>
			<td>Type:</td>
			<td><input type="text" name="item[type_of_item]"></td>
			<%if @user.items.all != []%>
					<tr>
						<td>...or</td>
						<td>
							<select name="item[type_of_item]">
								<option disabled selected>choose existing</option>
								<%@user.items.all.each do |item|%>
									<%if item.type_of_item != nil && item.type_of_item != ""%>
										<option value="<%=item.type_of_item%>"><%=item.type_of_item%></option>
									<%end%>
								<%end%>
							</select>
						</td>
					</tr>
			<%end%>
		</tr>
		<tr>
			<td>&#10020; Brand:</td>
			<td><input type="text" name="brand[name]"></td>
		</tr>
		<%if !@user.brands.empty?%>
    <tr>
      <td>...or</td>
      <td>
        <select name="brand[name]">
          <option disabled selected>choose existing</option>
          <%@user.brands.all.each do |brand|%>
            <option value="<%=brand.name%>"><%=brand.name%></option>
          <%end%>
        </select>
      </td>
    </tr>
    <%end%>
		<tr>
			<td>Color:</td>
			<td><input type="text" name="item[color]" placeholder="(leave blank if none)"></td>
		</tr>
		<tr>
			<td>Favorite?</td>
			<td><input type="checkbox" name="item[favorite]">&#10024;</td>
		</tr>
		<tr>
			<td>Need more?</td>
			<td><input type="checkbox" name="item[need_more]">&#10071;</td>
		</tr>
	</table>
	<p>&#10020; required ~ please do not use special characters</p>
	<input type="submit" value="Add">
</form>
<br>
<a href="/logout">Logout</a>
