<h1>Detail View</h1>
<br>
<table>
  <tr>
    <th>NAME</th><th>TYPE</th><th>COLOR</th>
  </tr>
  <tr>
    <td><%=@item.name%></td>
    <td><%=@item.type_of_item%></td>
    <td><%=@item.color%></td>
  </tr>
</table>
<br><br>
<a href="/logout">Logout</a>
