<h1>Detail View</h1>
<br>
<a href="/items/<%=@item.id%>/edit">Edit</a>
<br><br>

<table>
  <tr>
    <th>NAME</th><th>TYPE</th><th>COLOR</th><th>FAV</th><th>MORE</th>
  </tr>
  <tr>
    <td><%=@item.name%></td>
    <td><%=@item.type_of_item%></td>
    <td><%=@item.color%></td>
    <td>
    <%if @item.favorite%>
      &#10024;
    <%end%>
    </td>
    <td>
    <%if @item.need_more%>
      &#10071;
    <%end%>
    </td>
  </tr>
</table>
<br>
<a href="/logout">Logout</a>
