<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title></title>
  </head>

  <body>
    <div class="content">
      <% flash.keys.each do |type| %>
        <div data-alert class="flash">
          <%= flash[type] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
